body {
    background-color: lightblue;
    font-family: Georgia, Serif;
}

li {
    font-size: 100%;
    color: #333333;
}

p {
    font-size: 100%;
    color: #333333;
}

b {
    font-size: 150%;
    color: #333333;
}

#maria {
    float: left;
    padding-left: 325px;
}

#kyle {
    float: center;
}

#fsection {
    text-align: center;
}

#header {
    background-color: black;
    color:white;
    clear:both;
    text-align: left;
    padding:5px; 
}

#nav {
    line-height:30px;
    background-color:#eeeeee;
    height:500px;
    width:100px;
    float:left;
    padding:5px; 
}

h2 {
    text-align: center;
    color: #333333;
    font-family: Georgia, Serif;
}

fieldset {
    margin: auto;
}

#inputs {
    text-align: center;
}

#vote {
    text-align: center;
}

#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:right;
    padding:5px; 
}