#header {
    background-color: black;
    color:white;
    clear:both;
    text-align: left;
    padding:5px; 
}

#nav {
    line-height:30px;
    background-color:#eeeeee;
    height:500px;
    width:100px;
    float:left;
    padding:5px; 
}

h2 {
    text-align: center;
}

fieldset {
    margin: auto;
}

#inputs {
    text-align: center;
}

#vote {
    text-align: center;
}

#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:right;
    padding:5px; 
}